[submodule "roles/ansible-role-java"]
	path = roles/ansible-role-java
	url = https://github.com/onksingh/ansible-role-java.git
[submodule "roles/debian8-ansible"]
	path = roles/debian8-ansible
	url = https://github.com/onksingh/debian8-ansible
